<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
        
    <aop:aspectj-autoproxy/>
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
    
    
    <!--<jee:jndi-lookup id="myEmf" jndi-name="persistence/TestPU"/>-->
    



    <!--<bean id="brickDao" class="cz.muni.fi.PA165.dao.BrickDaoImpl">-->
        <!--<property name="entityManagerFactory" ref="myEmf"/>-->
    <!--</bean>-->
    
    <bean id="brickService" class="cz.muni.fi.PA165.service.BrickServiceImpl">
        <!--<property name="brickDao" ref="brickDao" />-->
    </bean>
    <bean id="themeSetService" class="cz.muni.fi.PA165.service.ThemeSetServiceImpl">
        <!--<property name="themeSetDao" ref="themeSetDao" />-->
    </bean>
    
    
</beans>