<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <security:global-method-security secured-annotations="enabled"/>

    <import resource="classpath*:/META-INF/applicationContext.xml"/>

    <context:component-scan base-package="cz.muni.fi.PA165.action"/>


    <bean id="userDetailsService" class="cz.muni.fi.PA165.security.UserDetailsServiceImpl">
    </bean>

    <bean id="authenticationManager"
          class="org.springframework.security.authentication.ProviderManager">
        <property name="providers">
            <list>
                <ref local="daoAuthenticationProvider"/>
            </list>
        </property>
    </bean>


    <bean id="daoAuthenticationProvider"
          class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <property name="userDetailsService" ref="userDetailsService"/>
    </bean>
    <security:http use-expressions="true" pattern="/rest/**">
        <security:intercept-url pattern="/**" access="hasRole('ROLE_REST')"  />
        <security:http-basic />
    </security:http>
    <security:http use-expressions="true">
        <security:intercept-url pattern="/login.jsp" access="permitAll"/>
        <security:intercept-url pattern="/bootstrap/**" access="permitAll"/>
        <security:intercept-url pattern="/**" access="authenticated"/>
        <security:form-login login-page="/login.jsp" authentication-failure-handler-ref="authenticationFailureHandler"/>
        <security:logout logout-success-url="/login.jsp" delete-cookies="JSESSIONID" invalidate-session="true"/>
    </security:http>

    <bean id="authenticationFailureHandler"
          class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
        <property name="defaultFailureUrl" value="/login.jsp?error=1"/>
    </bean>


    <security:authentication-manager>
        <security:authentication-provider user-service-ref="userDetailsService">
            <!--<password-encoder hash="md5"/>-->
        </security:authentication-provider>
        <security:authentication-provider>
            <security:user-service>
                <security:user name="rest" password="rest" authorities="ROLE_REST" />
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>

</beans>