<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <http>
        <form-login login-page="login.jsp" default-target-url="index.jsp" authentication-failure-url="login.jsp"/>
    </http>

    <!--<beans:bean id="userDetailsService" class="cz.muni.fi.PA165.security.UserDetailsServiceImpl">-->
    <!--</beans:bean>-->

    <!--<beans:bean id="authenticationManager"-->
                <!--class="org.springframework.security.authentication.ProviderManager">-->
        <!--<beans:property name="providers">-->
            <!--<beans:list>-->
                <!--<beans:ref local="daoAuthenticationProvider" />-->
            <!--</beans:list>-->
        <!--</beans:property>-->
    <!--</beans:bean>-->


    <!--<beans:bean id="daoAuthenticationProvider"-->
                <!--class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">-->
        <!--<beans:property name="userDetailsService" ref="userDetailsService"/>-->
    <!--</beans:bean>-->

    <!--<authentication-manager>-->
        <!--<authentication-provider user-service-ref="userDetailsService">-->
            <!--&lt;!&ndash;<password-encoder hash="md5"/>&ndash;&gt;-->
        <!--</authentication-provider>-->
    <!--</authentication-manager>-->

    <!--<authentication-manager>-->
        <!--<authentication-provider>-->
            <!--<user-service>-->
                <!--<user name="pa165" password="pa165" authorities="ROLE_USER" />-->
            <!--</user-service>-->
        <!--</authentication-provider>-->
    <!--</authentication-manager>-->

</beans:beans>